@import "tailwindcss";

* {
  font-family: var(--font-poppins), sans-serif;
  scroll-behavior: smooth;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}