.shine {
  background-image: 
    linear-gradient(120deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 60%), 
    linear-gradient(to right, #D8A833, #CC65B4, #AA71E1);
  background-size: 200% 100%, 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 5s linear infinite;
  background-blend-mode: overlay;
}

@keyframes shine {
  0% {
    background-position: 200% 0, 0 0;
  }
  100% {
    background-position: -200% 0, 0 0;
  }
}